/* Media Queries Manager */
/*
0 - 600px:        Phone
600 - 900px:      Tablet Portrait
768px      :      Smartphone
900 - 1200px:     Tablet Landscape
[1200 - 1800px]:  Standard Desktop
1800px + :        Large Desktop

$breakpoint args:
- phone
- smartphone
- tab-port
- tab-land
- desk-lg

Note: 1em = 16px
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 50%; } }

body {
  font-weight: 400;
  line-height: 1.6;
  font-family: var(--font-primary); }

/* CSS Variables */
:root {
  --color-bg: #002B36;
  --color-yellow: #B58900;
  --color-grey: #839496;
  --color-tertiary: rgb(52, 95, 95);
  --color-white: #fff;
  --color-black: #000;
  --font-primary: "Raleway", sans-serif;
  --font-secondary: ; }

/* Navigation */
.navbar {
  background-color: var(--color-bg);
  z-index: 100;
  position: relative;
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.2); }
  .navbar .navlist__link:link, .navbar .navlist__link:visited {
    display: block;
    width: 100%;
    text-align: center;
    padding: 1em;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    background-color: var(--color-bg);
    color: var(--color-grey);
    transition: all .2s; }
    .navbar .navlist__link:link:hover, .navbar .navlist__link:link:active, .navbar .navlist__link:visited:hover, .navbar .navlist__link:visited:active {
      background-color: var(--color-tertiary);
      color: var(--color-white);
      border-bottom: 2px solid var(--color-yellow); }
  .navbar__toggle {
    padding: 1rem;
    fill: var(--color-white);
    background-color: darkslategrey;
    vertical-align: middle;
    width: 5.5rem;
    height: 5.5rem;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10; }

@media only screen and (min-width: 48em) {
  .navbar {
    display: flex; }
    .navbar .navlist {
      display: flex;
      flex: 1;
      justify-content: center; }
      .navbar .navlist__link {
        width: auto; }
    .navbar__toggle {
      display: none; } }

.navbar ul {
  display: none; }
  @media only screen and (min-width: 48em) {
    .navbar ul {
      display: flex; } }

@media only screen and (max-width: 56.25em) {
  .navbar.active .navbar__toggle {
    background-color: #345f5f;
    fill: var(--color-white); }
  .navbar.active ul {
    display: block; } }

.header {
  background-color: var(--color-bg);
  min-height: 100vh;
  display: flex;
  /* margin: 2rem 2rem 0 2rem; */
  /* -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); */
  position: relative; }
  .header__title {
    text-align: center;
    margin: auto; }
    .header__title-heading-primary {
      font-size: 6rem;
      text-transform: uppercase;
      color: var(--color-grey); }
      .header__title-heading-primary .hl {
        color: var(--color-yellow); }
    .header__title-heading-secondary {
      font-size: 3.5rem;
      text-transform: uppercase;
      color: var(--color-grey); }

.about {
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 6rem;
  background-color: #8C43FF;
  color: white;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .about__text {
    width: 60rem;
    height: auto;
    text-align: center; }
    .about__text-heading {
      font-size: 3.2rem;
      margin-bottom: 1rem; }
    .about__text-paragraph {
      font-size: 2rem; }

.skills {
  min-height: 100vh;
  padding: 6rem;
  text-align: center;
  background-color: var(--color-bg);
  color: white;
  /* transform: skewY(-7deg); */
  -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
  /*  & > * {
        transform: skewY(7deg);
    }
 */ }
  .skills__title {
    margin-top: 10rem;
    width: 100%;
    height: auto; }
    .skills__title-heading {
      font-size: 3.2rem; }

.skills-container {
  display: flex;
  justify-content: center;
  padding: 8rem 0;
  flex-wrap: wrap; }

.skill-card {
  padding: 2.5rem;
  min-width: 20rem;
  min-height: min-content;
  box-shadow: 0 1px 3px rgba(var(--color-black), 0.4), 0 1px 2px rgba(var(--color-black), 0.4);
  margin: 2rem 2rem;
  border-radius: 3px;
  border: 5px solid var(--color-grey); }
  .skill-card:hover {
    box-shadow: 0 1.4rem 2.8rem rgba(var(--color-black), 0.2), 0 1rem 1rem rgba(var(--color-black), 0.2); }
  .skill-card:hover .skill-card__header {
    height: 6rem; }
  .skill-card:hover .skill-card__list {
    opacity: 1; }
  .skill-card:hover .skill-card__icon {
    transform: scale(1.5); }
  .skill-card__header {
    text-align: center; }
  .skill-card__icon {
    width: 3.5rem;
    height: 3.5rem;
    margin-bottom: 1rem;
    transition: all .5s; }
  .skill-card__body {
    text-align: center; }
  .skill-card__heading {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700; }
  .skill-card__text {
    font-size: 1.4rem;
    padding: .4rem;
    text-transform: capitalize; }
  .skill-card__list {
    list-style: none;
    opacity: 0;
    transition: all .8s; }
    .skill-card__list__item {
      font-size: 1.4rem; }

.icon-js {
  background-color: var(--color-grey); }

.work {
  min-height: 100vh;
  padding: 2rem;
  text-align: center; }
  .work__title {
    width: 100%;
    height: auto;
    margin-bottom: 5rem; }
    .work__title-heading {
      font-size: 3.2rem; }

.projects-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5rem 0; }

.project-card {
  width: 35rem;
  height: 35rem;
  border: 2px solid black;
  margin: 2rem;
  padding: 1rem;
  border-radius: 6px;
  position: relative; }
  @media only screen and (max-width: 37.5em) {
    .project-card {
      width: 40rem;
      height: 35rem; } }
  .project-card__img {
    width: 100%;
    height: 100%;
    transition: all .5s;
    backface-visibility: hidden; }
  .project-card__caption {
    font-size: 1.6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    color: white;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
    .project-card__caption-link:link, .project-card__caption-link:visited {
      text-decoration: underline;
      color: white;
      text-transform: uppercase; }
  .project-card:hover .project-card__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .project-card:hover .project-card__img {
    filter: blur(5px) brightness(60%); }

.button-container__button:link, .button-container__button:visited {
  padding: 1.5rem 6.5rem;
  background: transparent;
  cursor: pointer;
  text-transform: uppercase;
  color: var(--color-grey);
  border: 2px solid var(--color-yellow);
  border-radius: 6px;
  transition: all .2s;
  text-decoration: none;
  font-size: 1.4rem;
  margin-bottom: 5rem; }

.button-container__button:hover {
  background-color: var(--color-bg);
  color: var(--color-white); }

.button-container__button:focus {
  outline: none; }

.contact {
  min-height: 60vh;
  padding: 6rem;
  text-align: center;
  background-color: #041948; }
  .contact__title {
    width: 100%;
    margin-bottom: 5rem; }
    .contact__title-heading {
      font-size: 3.2rem;
      color: var(--color-white); }

.contact-container .social-container {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
  flex-wrap: wrap; }
  .contact-container .social-container__link:link, .contact-container .social-container__link:visited {
    text-decoration: none;
    margin: 1.5rem;
    padding: 1.5rem 1.8rem;
    border-radius: 50%;
    border: 1px solid var(--color-grey);
    transition: all .2s; }
  .contact-container .social-container__link:hover, .contact-container .social-container__link:active {
    background-color: var(--color-grey); }
  .contact-container .social-container__icon {
    width: 3.5rem;
    height: 3.5rem; }

.footer {
  min-height: 20vh;
  height: 20vh;
  background-color: #133175;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  position: relative; }
  .footer__text {
    font-size: 2rem;
    color: var(--color-white);
    margin-bottom: 6rem; }

.arrow {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: .5rem;
  left: 0;
  transform: translate(0%, 0%); }
  .arrow__icon {
    width: 5.5rem;
    height: 5.5rem;
    fill: var(--color-grey); }
