.about {  // section
    min-height: 60vh;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10rem;
    background-image: linear-gradient(to bottom, lighten($color-bg, 18%), lighten($color-bg, 23%));
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;

    @include respond(phone-xm) {  // 300px to 415px
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
    }

    @include respond(phone-sm) {  // 300px to 599px
        padding: 6rem;
    }

    @include respond(desktop) {  // min-width 1024px
       height: 80vh;
    }

    @include respond(tab-land) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100vh, 0 100%);
        min-height: 100vh;
    }

    &__text {  // div
        width: 55rem;
        height: 55rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 20rem;

        @include respond(phone-xm) {  // 300px to 415px
            height: min-content;
            margin-bottom: 8rem;
        }

        @include respond(desktop) {  // min-width 1024px
            margin-bottom: 10rem;
        }

        &-heading {  // h2
            font-size: 3.2rem;
            font-family: $font-primary;
            font-weight: 700;
            text-transform: capitalize;
            padding: 2rem;
            margin-bottom: 1rem;
            color: lighten($color-grey, 30%);
        }

        &-paragraph {  // p
            font-size: 2rem;
            font-family: $font-secondary;
            color: lighten($color-grey, 30%);
        }
    }
}

.portrait {  // figure
    width: 15rem;
    height: 15rem;

    &__img {  // img
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
}