.footer {  // footer
    min-height: min-content;
    height: 20vh;
    width: 100%;
    background-image: linear-gradient(to top, lighten($color-bg, 5%), lighten($color-bg, 10%), lighten($color-bg, 15%));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4rem;

    @include respond(desktop) {  // min-width 1024px
        height: 10vh;
    }

    &__text {  // p
        font-size: 2rem;
        color: lighten($color-grey, 30%);
        margin-bottom: 4rem;
        font-family: $font-secondary;
    }
}

.arrow {  // div
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;

    @include respond(desktop) {  // min-width 1024px
        margin-bottom: 0;
    }

    &__icon {  // svg
        width: 5.5rem;
        height: 5.5rem;
        fill: lighten($color-grey, 30%);
        transition: all .4s;

        &:hover {
            fill: $color-yellow;
            cursor: pointer;
        }
    }
}
