.footer {  // footer
    min-height: 20vh;
    height: 20vh;
    background-color: #133175;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    position: relative;

    &__text {  // p
        font-size: 2rem;
        color: var(--color-white);
        margin-bottom: 6rem;
    }
}

.arrow {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: .5rem;
    left: 0;
    transform: translate(-0%, -0%);

    &__icon {
        width: 5.5rem;
        height: 5.5rem;
        fill: var(--color-grey);
    }
}
