.footer {  // footer
    min-height: min-content;
    height: 20vh;
    width: 100%;
    background-color: $color-bg;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4rem;

    &__text {  // p
        font-size: 2rem;
        color: var(--color-grey);
        margin-bottom: 4rem;
        font-family: var(--font-secondary);
    }
}

.arrow {  // div
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;

    &__icon {  // svg
        width: 5.5rem;
        height: 5.5rem;
        fill: $color-grey;
    }
}
