/* Navigation */
.navbar {
  background-color: var(--color-bg);
  z-index: 100;
  position: relative;
  box-shadow: 0 7px 20px 0 rgba(0,0,0,0.2), 0 4px 10px 0 rgba(0,0,0,0.2);

  .navlist {
    &__link:link,
    &__link:visited {
      display: block;
      width: 100%;
      text-align: center;
      padding: 1em;
      font-size: 2rem;
      text-transform: uppercase;
      text-decoration: none;
      background-color: var(--color-bg);
      color: var(--color-grey);
      transition: all .2s;
  
      &:hover,
      &:active {
          background-color: var(--color-tertiary);
          color: var(--color-white);
          border-bottom: 2px solid var(--color-yellow);
      }
    }
  }
  
  &__toggle {
    padding: 1rem;
    fill: var(--color-white);
    background-color: darkslategrey;
    vertical-align: middle;
    width: 5.5rem;
    height: 5.5rem;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
  }
}

@include respond(smartphone) {
    .navbar {
        display: flex;
    
        .navlist {
          display: flex;
          flex: 1;
          justify-content: center;

          &__link {
            width: auto;
          }
        }
    
        &__toggle {
          display: none;
        }
      }
}

.navbar {
  ul {
    display: none;

    @include respond(smartphone) {
        display: flex;
    }
  }
}

@include respond(tab-port) {
  .navbar.active {
    .navbar__toggle {
        background-color: rgb(52, 95, 95);
        fill: var(--color-white);
    }
    
    ul {
      display: block;
    }
  }
}
