/* Navigation */
.navbar {  // nav
  background-color: $color-bg;
  z-index: 100;
  position: relative;
  box-shadow: 0 0.7rem 2rem 0 rgba(0, 0, 0, 0.2),
    0 0.4rem 1rem 0 rgba(0, 0, 0, 0.2);

  .navlist {  // ul
    font-family: $font-primary;

      &__link:link,
      &__link:visited {  // a
        display: block;
        width: 100%;
        text-align: center;
        padding: 1em;
        font-size: 2rem;
        text-transform: uppercase;
        text-decoration: none;
        background-color: lighten($color-bg, 5%);
        color: $color-grey;
        transition: all 0.2s;

        &:hover,
        &:active {
          background-color: $color-tertiary;
          color: $color-white;
          border-bottom: 2px solid $color-yellow;
        }
      }
  }

  &__toggle {  // svg
    padding: 1rem;
    border-radius: 10%;
    fill: $color-white;
    background-color: $color-tertiary;
    vertical-align: middle;
    width: 5.5rem;
    height: 5.5rem;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
  }
}

@include respond(smartphone) {
  .navbar {
    display: flex;

    .navlist {
      display: flex;
      flex: 1;
      justify-content: center;

      &__link {
        width: auto;
      }
    }

    &__toggle {
      display: none;
    }
  }
}

.navbar {
  ul {
    display: none;

    @include respond(smartphone) {
      display: flex;
    }
  }
}

@include respond(tab-port) {
  .navbar.active {
    .navbar__toggle {
      background-color: $color-tertiary;
      fill: $color-white;
    }

    ul {
      display: block;
    }
  }
}
