.skills {  // section
    min-height: min-content;
    height: 100vh;
    width: 100%;
    padding: 6rem;
    text-align: center;
    background-image: linear-gradient(to top, lighten($color-bg, 20%), lighten($color-bg, 25%));
    -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);

    @include respond(tab-port) {  // max-width: 900px
        padding: 4rem;
    }

    @include respond(tab-md) {  // min-width: 700px
        height: 80vh;
    }

    @include respond(desktop) {  // min-width 1024px
        height: 60vh;
    }

    @include respond(tab-land) {  // min-width: 1200px
        min-height: 100vh;
        -webkit-clip-path: polygon(0 0%, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0%, 100% 0, 100% 100%, 0 100%);
    }

    &__title {  // div
        margin-top: 10rem;
        width: 100%;
        height: auto;

        @include respond(tab-port) {  // max-width 900px
            margin-top: 18rem;
        }

        &-heading {  // h3
            font-size: 3.2rem;
            font-family: $font-primary;
            color: lighten($color-grey, 30%);
            position: relative;

            &::after {
                content: "";
                width: 10rem;
                height: .2rem;
                background-color: rgba($color-yellow, .5);
                position: absolute;
                bottom: -1rem;
                left: 50%;
                transform: translate(-50%, 0%)
            }
        }
    }
}

.skills-container {  // div
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8rem 0;
    flex-wrap: wrap;
    width: 100%;

    @include respond(tab-land) {  // min-width: 1200px
        flex-wrap: nowrap;
        padding: 6rem 0;
    }
}

.skill-card {  // div
    padding: 2.5rem;
    min-width: 20rem;
    width: 25rem;
    min-height: min-content;
    box-shadow: 0 .1rem .2rem rgba($color-black, .4), 0 .1rem .2rem rgba($color-black, .4);
    margin: 2rem 2rem;
    border-radius: 4px;
    background-image: linear-gradient(to right bottom, lighten($color-bg, 5%), lighten($color-bg, 10%));
    transition: all .4s;
    
    @include respond(desktop) {  // min-width 1024px
        width: 20rem;
        margin: 2rem 1rem;
    }

    &:hover {
        box-shadow: 0 1rem 1rem rgba($color-black, 0.4), 0 .4rem .4rem rgba($color-black, 0.4);
    }

    &:hover &__header {
        height: 6rem;
    }

    &:hover &__list {
       opacity: 1;
    }

    &:hover &__icon {
        transform: scale(1.5);
    }

    &__header {  // div
        text-align: center;
    }

    &__icon {  // svg
        width: 3.5rem;
        height: 3.5rem;
        margin-bottom: 1rem;
        transition: all .5s;
    }

    &__body {  // div
        text-align: center;
    }

    &__heading {  // h3
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 700;
        font-family: $font-primary;
        color: lighten($color-grey, 30%);
    }

    &__text {  // p
        font-size: 1.6rem;
        padding: .4rem;
        text-transform: capitalize;
        font-family: $font-secondary;
        font-weight: 600;
        color: lighten($color-grey, 30%);
    }

    &__list {  // ul
        list-style: none;
        opacity: 0;
        transition: all .8s;
        margin-top: 0.5rem;

        &__item {  // li
            font-size: 1.4rem;
            font-family: $font-secondary;
            font-weight: 600;
            color: lighten($color-grey, 20%);
        }
    }
}