.work {  // section
    min-height: 100vh;
    padding: 2rem;
    text-align: center;

    &__title {  // div
        width: 100%;
        height: auto;
        margin-bottom: 5rem;

        &-heading {  // h2
            font-size: 3.2rem;
            font-family: var(--font-primary);
        }
    }
}

.projects-container {  // div
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5rem 0;
}

.project-card {  // figure
    width: 35rem;
    height: 35rem;
    border: 2px solid black;
    margin: 2rem;
    padding: 1rem;
    border-radius: 6px;
    position: relative;

    @include respond(phone) {
        width: 40rem;
        height: 35rem;
    }

    &__img {  // img
        width: 100%;
        height: 100%;
        transition: all .5s;
        backface-visibility: hidden;
    }

    &__caption {  // figcaption
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0);
        color: white;
        text-align: center;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden;

        &-heading {  // h4
            font-size: 2rem;
            font-family: var(--font-primary);
            padding: 1rem;
        }

        &-text {  // p
            font-size: 1.6rem;
            font-family: var(--font-secondary);
        }

        &-link:link,
        &-link:visited {  // a
            text-decoration: underline;
            color: var(--color-white);
            text-transform: uppercase;
        }
    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &:hover &__img {
        filter: blur(5px) brightness(60%);
    }
}

.button-container {  // div

    &__button {
        &:link,
        &:visited {  // a
            padding: 1.5rem 6.5rem;
            background: transparent;
            cursor: pointer;
            text-transform: uppercase;
            color: var(--color-grey);
            border: 2px solid var(--color-yellow);
            border-radius: 6px;
            transition: all .2s;
            text-decoration: none;
            font-size: 1.4rem;
            margin-bottom: 5rem;
            font-family: var(--font-secondary);
        }
        
        &:hover,
        &:active {
            background-color: var(--color-bg);
            color: var(--color-white);
        }

        &:focus {
            outline: none;
        }
    }
}