.work {  // section
    min-height: min-content;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    padding: 6rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include respond(tab-lg) {  // min-width 900px
        max-height: max-content;
    }

    @include respond(tab-land) {  // min-width: 1200px
        min-height: 100vh;
    }

    &__title {  // div
        width: 100%;
        height: auto;

        &-heading {  // h2
            font-size: 3.2rem;
            font-family: $font-primary;
            padding: 1rem;
            position: relative;
            
            &::after {
                content: "";
                width: 10rem;
                height: .2rem;
                background-color: rgba($color-bg, .8);
                position: absolute;
                bottom: -1rem;
                left: 50%;
                transform: translate(-50%, 0%)
            }
        }
    }
}

.projects-container {  // div
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 5rem 0;

    @include respond(tab) {  // from 0 to 1080px
        flex-wrap: wrap;
    }
}

.project-card {  // figure
    width: 30rem;
    height: 30rem;
    border: 2px solid black;
    margin: 1rem;
    padding: 1rem;
    border-radius: 6px;
    position: relative;

    @include respond(phone) {  // from 0 to 600px
        width: 35rem;
        height: 35rem;
    }

    @include respond(tab) {  // from 1024px on
        width: 28rem;
        height: 28rem;
    }

    &__img {  // img
        width: 100%;
        height: 100%;
        transition: all .5s;
        backface-visibility: hidden;
    }

    &__caption {  // figcaption
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0);
        color: $color-white;
        text-align: center;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden;

        &-heading {  // h4
            font-size: 2rem;
            font-family: $font-primary;
            padding: 1rem;
        }

        &-text {  // p
            font-size: 1.6rem;
            font-family: $font-secondary;
        }

        &-link:link,
        &-link:visited {  // a
            text-decoration: underline;
            color: $color-white;
            text-transform: uppercase;
        }
    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &:hover &__img {
        filter: blur(5px) brightness(60%);
    }
}

.button-container {  // div

    &__button {
        &:link,
        &:visited {  // a
            padding: 1.5rem 6.5rem;
            background: transparent;
            cursor: pointer;
            text-transform: uppercase;
            color: $color-black;
            border: 2px solid $color-blue-light;
            border-radius: 6px;
            transition: all .2s;
            text-decoration: none;
            font-size: 1.4rem;
            font-family: $font-secondary;
            font-weight: 700;
            margin-bottom: 5rem;
        }
        
        &:hover,
        &:active {
            background-color: lighten($color-bg, 20%);
            color: $color-white;
        }
    }
}